{% load comments %}
{% for article in articles_for_this_page %}
    <article class="article-in-list">
        {% get_comment_count for article as comment_count %}
        <h1><a href="{{ article.get_absolute_url }}">{{ article.title | title }}</a></h1>
        <time>{{ article.pub_date }}</time>
        <div class="separator">|</div>
        <a href="{{ article.get_absolute_url }}#comment-list"><span>{{ comment_count }} comments</span></a>
        <div class="article-content">
            <p>
                {{ article.content |safe | linebreaks | truncatechars_html:100 }}
                <a href="{% url 'hpc:article_detail' article.url_title %}">
                    <nobr>Read more>></nobr>
                </a>
            </p>
        </div>
    </article>
{% endfor %}